{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додати</title>
</head>
<body>
    <h2>Додати користувача:</h2>

    <form method="post">
        {% csrf_token %}
        <table>
            <tr><td>Призвіще:</td><td><input type="text" name="fam"></td></tr>
            <tr><td>Ім'я:</td><td><input type="text" name="nam"></td></tr>
            <tr><td>Посада:</td><td><input type="text" name="pos"></td></tr>
        </table>
        <input type="submit" value="Додати">
    </form>
    
    <h3><b>{{ p }}</b></h3>

    <h2>Список учнів школи:</h2>
    <ol>
    {% for s in students|dictsort:'lastname' %}
        <li>{{ s.name }} {{ s.lastname }} - {{ s.post }}</li>
    {% endfor %}
    </ol>

</body>
</html>